.NewMenu
{
    display:block;
    overflow: hidden;
    margin: 0 0 10px;
}
.NewMenu ul
{
    margin: 0;
    padding: 0;
}
.NewMenu ul li
{
    list-style: none;

    background-position: right center;
    position: relative;
    text-decoration: none;
    font: normal normal 18px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
       
}
.NewMenu ul li .menu1
{
    background-position: right center;
    position: relative;
    text-decoration: none;
    font: normal normal 18px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
    background-color: #89D1F3;
    margin-bottom: 3px;
    padding: 8px 20px 8px 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu1.png');
    
    
}

.NewMenu ul li .menu1Sel
{
    
    position: relative;
    text-decoration: none;
    font: normal normal 18px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
    background-color: #89D1F3;
    margin-bottom: 3px;
    padding: 8px 20px 8px 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu2.png');
    
}

.NewMenu ul li ul li .menu2
{
    
    position: relative;
    text-decoration: none;
    font: normal normal 12px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
    background: #FFFFFF;
    margin-bottom: 3px;
    padding: 5px 25px 5px 20px;
    cursor: pointer;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu1.png');
    
    
}
 
 .NewMenu ul li ul li .menu2Over
{
    
    position: relative;
    font: normal normal 12px/1.4em Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 25px 5px 20px;
    cursor: pointer;
    margin-bottom: 3px;
    background: #BDE18C;
    color: #005393;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu2.png');
    
}
 
 
 .NewMenu ul li ul li .menu2c
{
      position: relative;
    font: normal normal 12px/1.4em Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 25px 5px 20px;
    cursor: pointer;
    background: #BDE18C;
    margin-bottom: 3px;
    color: #005393;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu2.png');
    
 }
 
 .NewMenu ul li ul li ul li .menu3
{
    position: relative;
   font: normal bold 11px/1.4em Arial,Helvetica,sans-serif;
    background: url(../Image/bg-menu-bullet-item.gif) no-repeat 20px 12px;
    padding: 5px 25px 5px 30px;
    cursor:pointer;
    
  
 }
 .NewMenu ul li ul li ul li .menu3Over
{
    position: relative;
    font: normal bold 11px/1.4em Arial,Helvetica,sans-serif;
    background: #FEE6C4 url(../Image/bg-menu-bullet-item-on.gif) no-repeat 20px 12px;
    padding: 5px 25px 5px 30px;
    cursor: pointer;
        
}


.divMenuRoot
{
    font: normal normal 18px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
    
    
    }
.divMenuRoot .divMenu1
{
     padding: 0px 0px 0px 0px; 
}
.divMenuRoot .divMenu1 .cab
{
      background-position: right center;
    position: relative;
    text-decoration: none;
    font: normal normal 18px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
    background-color: #89D1F3;
    margin-bottom: 3px;
    padding: 8px 20px 8px 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu1.png');
    display:block;
    
 }
 .divMenuRoot .divMenu1 .item
 {
     padding: 0px 0px 0px 0px; 
     
    
    
  }
  .divMenuRoot .divMenu1 .item .cab
  {
        position: relative;
    text-decoration: none;
    font: normal normal 12px/1.4em Arial, Helvetica, sans-serif;
    color: #005393;
    background: #FFFFFF;
    margin-bottom: 3px;
    padding: 5px 25px 5px 20px;
    cursor: pointer;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu1.png');
    display:block;
      
}

 .divMenuRoot .divMenu1 .item .cabOver
  {
  position: relative;
    font: normal normal 12px/1.4em Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 25px 5px 20px;
    cursor: pointer;
    margin-bottom: 3px;
    background: #BDE18C;
    color: #005393;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../Image/bgflechamenu2.png');
      display:block;
}

 .divMenuRoot .divMenu1 .item .item
{
    position: relative;
   font: normal bold 11px/1.4em Arial,Helvetica,sans-serif;
    background: url(../Image/bg-menu-bullet-item.gif) no-repeat 20px 12px;
    padding: 5px 25px 5px 30px;
    cursor:pointer;
    display:block;
    
  
 }
 
 .divMenuRoot .divMenu1 .item .itemOver
{
    position: relative;
    font: normal bold 11px/1.4em Arial,Helvetica,sans-serif;
    background: #FEE6C4 url(../Image/bg-menu-bullet-item-on.gif) no-repeat 20px 12px;
    padding: 5px 25px 5px 30px;
    cursor: pointer;
    display:block;
 }
 
 
 